<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
        <% publication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.text_field :published %>
  </div>

  <div class="field">
    <%= form.label :abstract %>
    <%= form.text_field :abstract %>
  </div>

  <div class="field">
    <%= form.label :person %>
    <% people_options = Person.all.map { |p| [p.name, p.id] } %>
    <%= select(:publication, :people_id, people_options) %>
  </div>

  <div class="field">
    <%= form.label :faculty %>
    <% faculty_options = Faculty.all.map { |f| [f.name, f.id] } %>
    <%= select(:publication, :faculties_id, faculty_options) %>
  </div>

  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
