<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Published</th>
      <th>Abstract</th>
      <th>Is published?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.name %></td>
        <td><%= publication.published %></td>
        <td><%= publication.abstract %></td>
        <td><%= publication.published != nil ? "YES" : "NO" %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
